@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

@media (min-width: 1200px)
{
    .container
    {
        max-width: 970px;
    }
}

body{
    margin:0;
    padding:0;
    background-color: rgb(29, 29, 29);
    font-family: 'arial', sans-serif;
}



.img-avatar {
    width: 250px;
}
.arrow-button {
    margin-top: 20px;
}

.text1{
    text-align: center;
}

h2 {
    text-align: center;
    margin-top: 50px;
}

.usernameForm {
    border-color: black;
    border-radius: 30px;
}

progress {
    position: inherit;
    color: rgb(201, 0, 107);
    width: 100%;
}

h4 {
    color: whitesmoke;
}

label {
    color: white;
}


progress {
    position: inherit;
    color: rgb(201, 0, 107);
    width: 100%;
}

.arrow {
	display: inline-block;
	cursor: pointer;
    background-color: rgb(54, 54, 221);
}

.arrow img {
	width: 70%;
}

.character {
	min-width: 25%;
	max-height: 260px;
}

#usernamPlayer {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

